VERCEL_OIDC_TOKEN=your_token_here

NEXT_PUBLIC_SITE_URL=https://www.sdidarussalamcikunir.sch.id/
NEXT_PUBLIC_SUPABASE_URL="https://huvfvfxxjoecpbkjdcli.supabase.co"

SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

DATABASE_URL=your_database_url_here

JWT_ACCESS_SECRET=your_random_secret_here
JWT_REFRESH_PEPPER=your_random_secret_here